[Unit]
Description=Dev Automation Worker FROM - verifica Google Drive a cada 5 segundos

[Timer]
OnBootSec=3s
OnUnitInactiveSec=5s
AccuracySec=1s
Unit=dev-automation-worker-from.service

[Install]
WantedBy=timers.target
