APP_NAME="Oracle Local Monitor API"
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8010
CORS_ORIGINS=http://localhost:4010,http://127.0.0.1:4010

ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_CONNECT_STRING=
ORACLE_WALLET_LOCAL_DIR=/home/daniel/.oracle/Wallet_sindicatto
ORACLE_WALLET_PASSWORD=

ORACLE_LOCAL_MACHINE_FILTER=desktop-ioq529o
MONITOR_REFRESH_SECONDS=3
ORACLE_CONNECT_TIMEOUT_SECONDS=8
